<%# Here, we use erb tags to display data stored in the @analyzed_text variable. %>

<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.count_of_words %></h2>

<h2>Vowels: <%= @analyzed_text.count_of_vowels %></h2>

<h2>Consonants: <%= @analyzed_text.count_of_consonants%></h2>

<h2>Most Common Letter: <%= @analyzed_text.most_used_letter.keys[0].capitalize%>, used <%= @analyzed_text.most_used_letter.values[0]%> times</h2>
<%# @analyzed_text.most_used_letter returns a hash, where the key is the letter and the value is the number of times the letter appears %>
<%# to isolate the most used letter, we grab the 0-index key %>
<%# to isolate the number of times that letter appears, we grab the 0-index value %>